html, body {background-color: #C3E8C8!important;}
/*d7e8db*/
div:not(div img) {background-color: #C3E8C8!important;}
div[class*='body'] {background-color: #C3E8C8!important;}
div[class*='content'] {background-color: #C3E8C8!important;}
hr {border-color: #aee8b5!important;}
/*code {background-color:#7FAEB0!important;}*/
pre {background-color: #aee8b5!important;}
/*c2d3ca*/
article, input, textarea {background-color:#C3E8C8!important;}
#page {background-color: #C3E8C8!important;}
.textLayer {background:#B0E8B7!important;} /*for canvas*/
#content {background:#C3E8C8!important;}
