html, body {background-color: #C3E8C8!important;}
div:not(div img) {background-color: #C3E8C8!important;}
hr {border-color:cadetblue!important;}
code {background-color:#7FAEB0!important;}
pre {background-color:#7FAEB0!important;}
input, textarea {background-color: #C3E8C8!important;}