/*d7e8db*/
html, body, article, input, textarea {
    /*color:#888!important;*/
    /*-webkit-text-fill-color:#888!important;*/
    background-color:#D3E8D8!important;
}
hr {border-color: #aee8b5!important;}
/*code {background-color:#7FAEB0!important;}*/
pre {background-color: #aee8b5!important;}
div:not(div img) {background-color: #D3E8D8!important;}
.body, .content, .document {background-color: #D3E8D8!important;}
.textLayer {background:#B0E8B7!important;} /*for canvas*/
#page, #content, #article {background-color: #D3E8D8!important;}

/* Personal preference */
.iY .Bu {background: rgba(255, 255, 255, 0.3)!important;} /* Gmail */
